.promo{
    min-height: 650px;
    padding: 21px 0px 93px 0px;
    background: url("../img/01-header/bg.jpg") center center/cover no-repeat;
    &__wrapper{
        margin-top: 91px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header{
        font-weight: bold;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader{
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons{
        width: 424px;
        display: flex;
        justify-content: space-between;
        margin-top: 61px;
    }
    &__icon{
        width: 106px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;       
        text-align: center;
        color: #FFFFFF;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link{
        margin-top: 10px;
        font-weight: 500;
        font-size: 16px; 
        color: #FFFFFF;
        a{
            font-weight: 500;
            font-size: 16px; 
            color: #FFFFFF;
        }
    }
}
@media(max-width: 991px){
    .promo{
        &__header{
            font-size: 30px;
        }
        &__subheader{
            font-size: 18px;
        }
    }
}
@media(max-width: 510px){
    .promo{
        &__wrapper{
            align-items: center;
        }
        &__icons{
            flex-direction: column;
            align-items: center;            
        }        
        &__icon{
            margin-bottom: 20px;
        }
    }
}