.slider{
   padding: 81px 0px 81px 0px;
   min-height: 647px;
   &__inner{
       width: 750px;
       margin: 0 auto;
       position: relative;
       img{
           width: 100%;
       }
   } 
   .slick-prev, .slick-next{
    border: 0;
    background-color: white;
    display: block;
    width: 31px;
    height: 50px;
    position: absolute;
    // коментарий
    top: 50%;
    transform: translateY(-50%);
    }
    
    .slick-next{
        right: -75px;      
    }
    .slick-prev{
        left: -75px;
    }
}
@media(max-width: 768px){
    .slider{
        &__inner{
            width: 560px; 
        }
    }

}

@media(max-width: 590px){
    .slider{
        &__inner{
            width: 350px; 
        }
    }

}
.slick-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .slick-active{
        color: red;
    }
    button{
        background-color: white;
        border: none;
        color: white;
    }

    
    
}