.title{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #0D0D0D;
        text-transform: uppercase;
        &_consultation{
                font-size: 36px;
                line-height: 54px;
                text-align: left;
                color: #FFFFFF;
               
        }
        &_reviews{
                font-weight: bold;
                font-size: 18px;
                line-height: 18px; 
                text-align: left;   
        }
}
@media(max-width: 960px){
        .title{
                &_reviews{
                        text-align: center;     
                }    
        }   
}